.DS_Store
*~
*.tmproj
tmtags
*~
\#*
.\#*
*.swp
tmp/

java/classes
java/testresults
# java/src/java/is/tagomor/woothee/DataSet.java is generated at "ant codegen"
java/src/java/is/tagomor/woothee/DataSet.java
